@charset "UTF-8";
/*--------------------
    リセットcss
---------------------*/
.docodoco_store * {
  box-sizing: border-box;
  line-height: 1.4;
}
.docodoco_store * h1, .docodoco_store * h2, .docodoco_store * h3, .docodoco_store * h4, .docodoco_store * h5, .docodoco_store * h6, .docodoco_store * p, .docodoco_store * ul, .docodoco_store * ol, .docodoco_store * li, .docodoco_store * dl, .docodoco_store * dt, .docodoco_store * dd, .docodoco_store * figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.docodoco_store * ul, .docodoco_store * ol, .docodoco_store * li {
  list-style: none;
}
.docodoco_store * a {
  text-decoration: none;
}

.docodoco_store {
  /*--------------------
      一覧・詳細共通CSS
  ---------------------*/
  color: #555a60;
  font-size: 14px;
  overflow: hidden;
}
.docodoco_store .docodoco_store_map {
  margin-bottom: 30px;
}
.docodoco_store .docodoco_store_map .gm-err-icon img {
  width: auto;
}
.docodoco_store .map_size01 {
  width: 100%;
  height: 400px;
}
.docodoco_store .map_size02 {
  width: 100%;
  height: 345px;
  margin: 35px 0 0;
}
.docodoco_store .map_size03 {
  width: 100%;
  height: 400px;
  margin-bottom: 0;
}
.docodoco_store table td a:hover {
  text-decoration: underline;
}
.docodoco_store img {
  width: 100%;
  height: auto;
}
.docodoco_store .docodoco_store_img01 img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center center;
}
.docodoco_store .docodoco_store_btn01 {
  width: 100%;
}
.docodoco_store .docodoco_store_btn01 a {
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #555a60;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.docodoco_store .docodoco_store_btn01 a:hover {
  background: #555a60;
  border-color: #555a60;
  color: #fff;
}
.docodoco_store .docodoco_store_btn01.docodoco_store_btn01_type01 {
  height: 45px;
  margin-top: auto;
}
.docodoco_store .docodoco_store_btn01.docodoco_store_btn01_type01 a {
  background: #555a60;
  border-color: #555a60;
  color: #fff;
}
.docodoco_store .docodoco_store_btn01.docodoco_store_btn01_type01 a:hover {
  background: #fff;
  border-color: #c7c7c7;
  color: #555a60;
}
.docodoco_store .docodoco_store_btn01.docodoco_store_btn01_back {
  max-width: 240px;
  height: 60px;
  margin: 35px auto 0;
}

.docodoco_store {
  /*--------------------
      一覧：検索条件
  ---------------------*/
  /*--------------------
      一覧：マップ情報ウィンドウ
  ---------------------*/
  /*--------------------
      一覧：店舗リストレイアウト
  ---------------------*/
}
.docodoco_store .docodoco_index_search01 {
  width: 100%;
}
.docodoco_store .index_search_title01 {
  width: 80px;
  padding: 15px 10px;
  align-self: center;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.docodoco_store .index_search_box01 {
  width: 100%;
  padding: 15px;
  background: #f6f6f6;
}
.docodoco_store .index_search_box01_title {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}
.docodoco_store .index_search_item01 {
  background: #c7c7c7;
  border-radius: 3px;
  display: flex;
}
.docodoco_store .index_search_item01 .index_search_keyword01 {
  width: 100%;
  height: 42px;
  margin: 0;
  padding: 16px 10px;
  background: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-appearance: none;
}
.docodoco_store .index_search_item01 .index_search_keyword01:focus {
  background-color: #ebf2f9;
  outline: none;
}
.docodoco_store .index_search_item01 .index_search_btn01 {
  width: 42px;
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.docodoco_store .index_search_item01 .index_search_btn01 .material-symbols-sharp {
  color: #333;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" -25, "opsz" 24;
}
.docodoco_store .docodoco_index_window01 {
  display: flex;
  flex-wrap: wrap;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_img {
  width: 30%;
  max-width: 100px;
  background: #fff;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_img img {
  transition: all 0.3s;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_img img:hover {
  opacity: 0.7;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_inner {
  padding-left: 15px;
  flex: 1;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_name {
  margin-bottom: 10px;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_name a {
  color: #5988b9;
  font-size: 14px;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_name a:hover {
  text-decoration: underline;
}
.docodoco_store .docodoco_index_window01 .docodoco_index_window01_add {
  font-size: 12px;
}
.docodoco_store .docodoco_index_shop_item02 {
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s;
}
.docodoco_store .docodoco_index_shop_item02.active .docodoco_index_shop_box02 {
  background: #ebf2f9;
}
.docodoco_store .docodoco_index_shop_box02 {
  padding: 15px;
  border: 1px solid #c7c7c7;
  color: #555a60;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.docodoco_store .docodoco_index_shop_box02:hover {
  background: #ebf2f9;
}
.docodoco_store .docodoco_index_shop_img02 {
  width: 80px;
}
.docodoco_store .docodoco_index_shop_img02 a {
  background: #fff;
  transition: all 0.3s;
}
.docodoco_store .docodoco_index_shop_img02 a:hover {
  opacity: 0.7;
}
.docodoco_store .docodoco_index_shop_inner02 {
  margin-bottom: 20px;
  padding-left: 15px;
  flex: 1;
}
.docodoco_store .docodoco_index_shop_name02 {
  min-height: 80px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
}
.docodoco_store .docodoco_index_shop_name02 a {
  color: #5988b9;
}
.docodoco_store .docodoco_index_shop_name02 a:hover {
  text-decoration: underline;
}
.docodoco_store .docodoco_index_shop_info02 {
  width: calc(100% + 95px);
  margin-left: -95px;
  display: flex;
  flex-wrap: wrap;
}
.docodoco_store .docodoco_index_shop_info02 dt {
  width: 80px;
  font-weight: normal;
  line-height: 1.2;
}
.docodoco_store .docodoco_index_shop_info02 dt:not(:last-of-type) {
  margin-bottom: 10px;
}
.docodoco_store .docodoco_index_shop_info02 dd {
  width: calc(100% - 80px);
  line-height: 1.2;
  word-break: break-all;
}
.docodoco_store .docodoco_index_shop_info02 dd:not(:last-of-type) {
  margin-bottom: 10px;
}
.docodoco_store .docodoco_index_shop_btn02 {
  width: 100%;
  margin-top: auto;
}
.docodoco_store .docodoco_index_shop_btn02 a {
  padding: 10px;
  background: #5988b9;
  border: 1px solid #5988b9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.docodoco_store .docodoco_index_shop_btn02 a:hover {
  background: #fff;
  color: #5988b9;
}

.docodoco_store {
  /*--------------------
      詳細：店舗名見出し
  ---------------------*/
  /*--------------------
      詳細：店舗情報
  ---------------------*/
  /*--------------------
      詳細：画像
  ---------------------*/
}
.docodoco_store .docodoco_store_detail_name01 {
  width: 100%;
  margin-bottom: 32px;
  padding: 8px 0 8px 20px;
  border-left: 4px solid #034488;
  color: #33353b;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5em;
}
.docodoco_store .docodoco_detail_shop_info01 {
  background: #f6f6f6;
  font-size: 14px;
}
.docodoco_store .docodoco_detail_shop_info01 dt {
  padding: 10px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.docodoco_store .docodoco_detail_shop_info01 dd {
  padding: 10px 10px 20px;
  background: #fff;
}
.docodoco_store .docodoco_detail_shop_info01 dd a {
  color: #5988b9;
}
.docodoco_store .docodoco_detail_shop_info01 dd a:hover {
  text-decoration: underline;
}
.docodoco_store .docodoco_store_detail_info01 {
  width: 100%;
}
.docodoco_store .docodoco_store_detail_img01 {
  width: 100%;
  margin-top: 35px;
}
.docodoco_store .docodoco_store_detail_img02 {
  width: 100%;
  margin-bottom: 25px;
}
.docodoco_store .docodoco_store_detail_img03 {
  width: 100%;
  margin-top: 35px;
}

.docodoco_store {
  /*--------------------
      plugin_index01レイアウト
  ---------------------*/
}
.docodoco_store .docodoco_index_shop01 {
  width: 100%;
  overflow-x: scroll;
}
.docodoco_store .docodoco_index_shop01 table {
  min-width: 1024px;
  border-collapse: collapse;
  border-spacing: 0;
}
.docodoco_store .docodoco_index_shop01 table th {
  padding: 10px;
  background: #f6f6f6;
  border: 1px solid #c7c7c7;
  text-align: center;
  white-space: nowrap;
}
.docodoco_store .docodoco_index_shop01 table th.tel {
  min-width: 110px;
}
.docodoco_store .docodoco_index_shop01 table th.hours {
  min-width: 110px;
}
.docodoco_store .docodoco_index_shop01 table td {
  padding: 10px;
  background: #fff;
  border: 1px solid #c7c7c7;
}
.docodoco_store .docodoco_index_shop01 table td a {
  color: #5988b9;
}
.docodoco_store .docodoco_index_shop01 table td a[target=_blank] {
  word-break: break-all;
}
.docodoco_store .docodoco_index_shop01 table tbody tr {
  cursor: pointer;
}
.docodoco_store .docodoco_index_shop01 table tbody tr.active {
  background: #ebf2f9;
}
.docodoco_store .docodoco_index_shop01 table tbody tr:hover td {
  background: #ebf2f9;
}

.docodoco_store {
  /*--------------------
      plugin_index02レイアウト
  ---------------------*/
}
.docodoco_store .docodoco_index_shop02 {
  margin-bottom: -20px;
}

.docodoco_store {
  /*--------------------
      plugin_index03レイアウト
  ---------------------*/
}
.docodoco_store .docodoco_index_shop03 {
  height: 400px;
  overflow-y: scroll;
}
.docodoco_store .docodoco_index_shop03::-webkit-scrollbar {
  width: 5px;
  background: #e5e5e5;
}
.docodoco_store .docodoco_index_shop03::-webkit-scrollbar-thumb {
  background: #999;
}
.docodoco_store .docodoco_index_shop03::-webkit-scrollbar-thumb:hover {
  background: #555a60;
}
.docodoco_store .docodoco_index_shop03 .docodoco_index_shop_box02 {
  margin-bottom: -1px;
  border-right: none;
}

.docodoco_store {
  /*--------------------
      plugin_detail01レイアウト
  ---------------------*/
}

.docodoco_store {
  /*--------------------
      plugin_detail02レイアウト
  ---------------------*/
}
.docodoco_store {
  /*--------------------
      plugin_detail03レイアウト
  ---------------------*/
}
@media only screen and (min-width: 1024px) {
  .docodoco_store .map_size03 {
    height: 500px;
  }
  .docodoco_store .index_search_title01 {
    width: 120px;
  }
  .docodoco_store .index_search_box01 {
    padding: 15px 20px;
  }
  .docodoco_store .docodoco_index_shop_item02 {
    width: 50%;
    margin-bottom: 24px;
    padding: 0 12px;
  }
  .docodoco_store .docodoco_index_shop_box02 {
    height: 100%;
    padding: 22px;
  }
  .docodoco_store .docodoco_index_shop_inner02 {
    padding-left: 22px;
  }
  .docodoco_store .docodoco_store_detail_name01 {
    font-size: 24px;
  }
  .docodoco_store .docodoco_detail_shop_info01 {
    border-top: 1px solid #e5e5e5;
    display: flex;
    flex-wrap: wrap;
  }
  .docodoco_store .docodoco_detail_shop_info01 dt {
    width: 150px;
    padding: 20px;
    border-top: none;
  }
  .docodoco_store .docodoco_detail_shop_info01 dd {
    width: calc(100% - 150px);
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
  }
  .docodoco_store .docodoco_store_detail_info01 {
    padding-right: 50px;
  }
  .docodoco_store .docodoco_store_detail_info02 {
    width: 50%;
    padding-left: 50px;
  }
  .docodoco_store .docodoco_store_detail_img01 {
    width: 350px;
    margin-top: 0;
  }
  .docodoco_store .docodoco_store_detail_img02 {
    width: 50%;
    margin-bottom: 0;
  }
  .docodoco_store .docodoco_store_detail_img03 {
    width: 50%;
    margin-top: 0;
  }
  .docodoco_store .docodoco_index_shop01 {
    overflow-x: auto;
  }
  .docodoco_store .docodoco_index_shop01 table {
    min-width: auto;
  }
  .docodoco_store .docodoco_index_shop01 table th {
    padding: 15px;
  }
  .docodoco_store .docodoco_index_shop01 table td {
    padding: 15px 10px;
  }
  .docodoco_store .docodoco_index_shop02 {
    margin: 0 -12px -24px;
    display: flex;
    flex-wrap: wrap;
  }
  .docodoco_store .docodoco_store_index03 {
    display: flex;
    flex-wrap: wrap;
  }
  .docodoco_store .docodoco_store_index03 .docodoco_store_index03_column {
    width: 40%;
    flex: 1;
  }
  .docodoco_store .docodoco_store_index03 .docodoco_store_map {
    width: 60%;
  }
  .docodoco_store .docodoco_index_shop03 {
    height: 500px;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
  }
  .docodoco_store .docodoco_store_detail01 .docodoco_store_detail_info01 {
    width: calc(100% - 350px);
  }
  .docodoco_store .docodoco_store_detail03 .docodoco_store_detail_info01 {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .docodoco_store .docodoco_index_shop_img02 {
    width: 150px;
  }
  .docodoco_store .docodoco_index_shop_name02 {
    min-height: 150px;
  }
  .docodoco_store .docodoco_index_shop_info02 {
    width: calc(100% + 172px);
    margin-left: -172px;
  }
  .docodoco_store .docodoco_store_detail01 {
    display: flex;
    flex-wrap: wrap;
  }
  .docodoco_store .docodoco_store_detail02 {
    display: flex;
    flex-wrap: wrap;
  }
  .docodoco_store .docodoco_store_detail03 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1280px) {
  .docodoco_store .docodoco_index_shop_img02 {
    width: 177px;
  }
  .docodoco_store .docodoco_index_shop_name02 {
    min-height: 177px;
  }
  .docodoco_store .docodoco_index_shop_info02 {
    width: calc(100% + 199px);
    margin-left: -199px;
  }
}
@media only screen and (min-width: 1366px) {
  .docodoco_store .docodoco_index_shop_name02 {
    min-height: auto;
  }
  .docodoco_store .docodoco_index_shop_info02 {
    width: 100%;
    margin-left: 0;
  }
}